/* line 5, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 1, sass/_partials/_typography.scss */
body {
  font-family: "Raleway", helvetica, sans-serif;
  color: #1F3546;
  font-size: 16px; }

/* line 7, sass/_partials/_typography.scss */
h1 {
  font-family: "Sacramento", georgia, serif; }

/* line 11, sass/_partials/_typography.scss */
h2 {
  font-family: "Sacramento", georgia, serif;
  font-size: 3.75em; }

/* line 16, sass/_partials/_typography.scss */
h3 {
  font-family: "Raleway", helvetica, sans-serif;
  font-size: 1.375em;
  text-transform: uppercase; }

/* line 22, sass/_partials/_typography.scss */
h4 {
  font-family: "Raleway", helvetica, sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase; }

/* line 29, sass/_partials/_typography.scss */
strong {
  font-weight: bold; }

/* line 1, sass/_pages/_index.scss */
body {
  -webkit-font-smoothing: antialiased; }

/* line 5, sass/_pages/_index.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 10, sass/_pages/_index.scss */
.main-header {
  background: url("images/home-header-bg.jpg") no-repeat center center scroll;
  color: #fff;
  width: 100%;
  background-size: cover; }
  /* line 16, sass/_pages/_index.scss */
  .main-header h1 {
    text-indent: -9999px;
    margin: 0;
    padding: 0;
    width: 475px;
    height: 180px;
    background: url("images/mary-brad-text-logo.png") no-repeat center center scroll;
    background-size: 100%; }
  /* line 26, sass/_pages/_index.scss */
  .main-header p {
    font-size: 1.375em; }
  /* line 30, sass/_pages/_index.scss */
  .main-header .title {
    text-align: center;
    max-width: 480px;
    display: inline-block; }
  /* line 36, sass/_pages/_index.scss */
  .main-header .container {
    padding: 10em 0; }

/* line 41, sass/_pages/_index.scss */
#main-nav {
  text-align: center;
  font-size: 1.125em;
  padding: 1em 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  background: #fff;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  /* line 53, sass/_pages/_index.scss */
  #main-nav .turtle-logo {
    width: 130px;
    height: auto;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out; }
    /* line 61, sass/_pages/_index.scss */
    #main-nav .turtle-logo:hover {
      opacity: .9; }
  /* line 67, sass/_pages/_index.scss */
  #main-nav ul li {
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    margin: 0 .5em; }
    /* line 73, sass/_pages/_index.scss */
    #main-nav ul li .textlink {
      color: #1F3546;
      text-decoration: none;
      position: relative;
      padding: 8px 0; }
      /* line 79, sass/_pages/_index.scss */
      #main-nav ul li .textlink:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 4px;
        background: #F84CA2;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        transform: translateY(10px); }
      /* line 97, sass/_pages/_index.scss */
      #main-nav ul li .textlink:focus:after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px); }
      /* line 105, sass/_pages/_index.scss */
      #main-nav ul li .textlink:hover {
        color: #3e6b8d;
        cursor: pointer; }
        /* line 109, sass/_pages/_index.scss */
        #main-nav ul li .textlink:hover:after {
          opacity: 1;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          transform: translateY(0px); }

/* line 121, sass/_pages/_index.scss */
.container {
  width: 960px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 3.75em 0; }
  @media screen and (max-width: 960px) {
    /* line 121, sass/_pages/_index.scss */
    .container {
      width: 85%; } }

/* line 132, sass/_pages/_index.scss */
#ceremony, #weddingparty, #photos {
  text-align: center; }
  /* line 135, sass/_pages/_index.scss */
  #ceremony h2, #weddingparty h2, #photos h2 {
    display: inline-block;
    margin: 0 .5em .5em .5em; }
  /* line 140, sass/_pages/_index.scss */
  #ceremony h3, #weddingparty h3, #photos h3 {
    margin-bottom: 1.136em; }
  /* line 144, sass/_pages/_index.scss */
  #ceremony .h2-lig, #weddingparty .h2-lig, #photos .h2-lig {
    display: inline-block; }
  /* line 148, sass/_pages/_index.scss */
  #ceremony .details, #weddingparty .details, #photos .details {
    font-style: italic;
    font-size: 1em;
    margin-bottom: 2em; }
  /* line 154, sass/_pages/_index.scss */
  #ceremony h4, #weddingparty h4, #photos h4 {
    margin-bottom: .2em; }
  /* line 158, sass/_pages/_index.scss */
  #ceremony p, #weddingparty p, #photos p {
    line-height: 1.7;
    font-size: 1.125em;
    max-width: 635px;
    margin: 0 auto 1em auto; }

/* line 166, sass/_pages/_index.scss */
#weddingparty {
  background: #FFF0F8;
  color: #F84CA2; }
  /* line 170, sass/_pages/_index.scss */
  #weddingparty ul {
    margin-bottom: 1.5em; }
    /* line 174, sass/_pages/_index.scss */
    #weddingparty ul:last-child {
      margin-bottom: 0; }
    /* line 178, sass/_pages/_index.scss */
    #weddingparty ul li {
      display: inline-block;
      margin: 0 .75em; }
      /* line 182, sass/_pages/_index.scss */
      #weddingparty ul li img {
        margin-bottom: .5em; }
      /* line 186, sass/_pages/_index.scss */
      #weddingparty ul li p {
        line-height: 1.5; }

/* line 1, sass/_pages/_content.scss */
.content_header {
  background: #1F3546;
  color: #fff;
  text-align: center; }
  /* line 6, sass/_pages/_content.scss */
  .content_header i {
    margin-bottom: .5em; }
  /* line 10, sass/_pages/_content.scss */
  .content_header h1 {
    font-size: 3em; }

/* line 15, sass/_pages/_content.scss */
.important_info {
  text-align: center; }
  /* line 19, sass/_pages/_content.scss */
  .important_info h3 {
    margin-bottom: 1.5em;
    border-bottom: 1px solid #1F3546;
    padding-bottom: .5em;
    display: inline-block; }
  /* line 26, sass/_pages/_content.scss */
  .important_info h4 {
    margin-bottom: 1em; }
  /* line 30, sass/_pages/_content.scss */
  .important_info p {
    line-height: 1.5;
    max-width: 700px;
    margin: 0 auto 1em; }
  /* line 36, sass/_pages/_content.scss */
  .important_info a {
    color: #F84CA2;
    font-weight: 700;
    text-decoration: none; }
    /* line 41, sass/_pages/_content.scss */
    .important_info a:hover {
      color: #fa7dbc; }
  /* line 46, sass/_pages/_content.scss */
  .important_info ul {
    list-style-type: disc;
    margin: 0 auto 1em;
    list-style-position: inside; }
    /* line 52, sass/_pages/_content.scss */
    .important_info ul li {
      line-height: 1.5; }
    /* line 56, sass/_pages/_content.scss */
    .important_info ul:last-child {
      margin-bottom: 0; }
  /* line 61, sass/_pages/_content.scss */
  .important_info .playing_list {
    margin-left: 1em; }
    /* line 66, sass/_pages/_content.scss */
    .important_info .playing_list li span {
      position: relative;
      left: -1em; }
  /* line 73, sass/_pages/_content.scss */
  .important_info .things_to_do {
    display: flex;
    margin-top: 1em; }
  /* line 78, sass/_pages/_content.scss */
  .important_info .item {
    width: 25%;
    vertical-align: top;
    padding: 1.5em 1em;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
    margin: 0 .5em;
    border-top: 2px solid #ffd7ec; }
    /* line 88, sass/_pages/_content.scss */
    .important_info .item h4 {
      font-size: 1em; }
    /* line 92, sass/_pages/_content.scss */
    .important_info .item a {
      display: block;
      margin-bottom: .875em;
      font-size: .875em; }
      /* line 96, sass/_pages/_content.scss */
      .important_info .item a:last-child {
        margin-bottom: 0; }
  /* line 102, sass/_pages/_content.scss */
  .important_info .pink {
    background: #FFF0F8; }

/* line 11, sass/style.scss */
.group:before,
.group:after {
  content: "";
  display: table; }

/* line 16, sass/style.scss */
.group:after {
  clear: both; }

/* line 19, sass/style.scss */
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
